//variables
dark_gray = #333333
light_gray = #818181

//oocss classes U
.relative
	position relative
a 
	text-decoration none
	
.border-bottom
	border-bottom 1px solid light_gray

//estilos
body
	font-family 'Varela Round', sans-serif
	font-size 16px

.header
	height 3.5em
	
	.title
		font-size 1.1em
		text-align center
		margin 0
		line-height 3.5em

.button-menu
	position absolute
	top 50%
	margin-top -10px
	left .5em

.menu
	display none
	
.container
	padding 1.4rem
	font-size 0
	text-align center
	
.song
	width 8rem
	display inline-block
	font-size 1rem
	margin 0 1em 1em 0
	text-align left
	&:nth-child(even)
		margin-right 0
	p
		margin .5em 0
	
.name
	color dark_gray
	
.author
	color light_gray
	
.figure
	margin 0
	

	